@model IEnumerable<TDProjectMVC.ViewModels.HomeMenuVM>

<div class="section-nav">
    <ul class="section-tab-nav tab-nav">
        @foreach (var item in Model)
        {
            <li class="@((ViewContext.HttpContext.Request.Query["loai"] == item.MaLoai.ToString()) ? "active" : "")">
                <a asp-controller="Home" asp-action="Index" asp-route-loai="@item.MaLoai">
                    @item.TenLoai
                </a>
            </li>
        }
    </ul>
</div>

